body{
background-color: #CECEF6;
padding: 10px;
margin: 0 auto;
color: black;

}
/*******************************************************************************************/
#b1{
color:#2A0A29;
border-color: #2E2E2E;
text-align: center;
}
/****************************************************************************************/
#b2{
border-color: #2E2E2E;
color: #2A0A29;	
text-align: center;

}
/******************************************************************************************/

.p1{
	color:#29088A;
	font-family:arial ;


text-align: center;

}
/*****************************************************************************/
a.hover{
color: #0B614B;

text-align: center;


}
a{
color: #0B3B39;

}